.section img{
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
}

.section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 2rem;
    padding-right: 200px;
    margin-top: 10px;
    margin-bottom: 15px;
}
.container-age-name{
    padding: 10px;
}
.name{
    font-weight: bold;
}
.age{
    
    color: grey;
}